* {
 box-sizing: border-box;
}


/* styles overall background and font family */
body { 
 margin: 0;
 padding: 0;
 background-color: lightsteelblue;
 font-family: Helvetica, Arial, sans-serif;
 line-height: 1.5;
}
/* styles header */
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
 background-color: #000;
}
/* styles title-box inside header bar and h1 */
/* this now appears to be sufficient */
header h1 {
 font-size: 42px;
 color: #000;
 text-decoration: none;
 background-color: teal;
/* padding around h1 title */
 padding: 10px 10px 10px 35px;
 /* margin around h1 title-box */
 margin: 0;
 line-height: 1;
}

/* styles contents of header nav bar and a */
/* several details to improve */
header nav {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
}

 header nav a {
 font-size: 24px;
 font-style: bold;
 text-decoration-line: underline;
 color: teal;
 padding: 5px 10px;
 margin-right: 10px;
}

header nav a:hover {
 text-shadow: none;
 font-style: italic;
 color: blue;
}

/* hero style start */
.hero {
 min-height: 30vh;
 margin-top: 1px;
 color: black;
 padding: 2% 6%;
 display: flex;
 justify-content: flex-end;
 align-items: flex-end;
 text-align: right;
 background-size: cover;
 background-position: center;
 background-image: url("../images/frequency-hero.jpg");
}
.hero div {
  flex: 0 0 90%;

}
/* styles hero subtitle box position and font */
.hero h3 {
  margin: 0;
  padding: 5px 10px;
  line-height: 1.2;
  background-color: teal;
  color: #000;
  font-size: 24px;
  font-style: italic;
  display: inline;
 }

 /* starting over here */
 /* main style start */
 /* references entire main container */
 main {
  margin: 20px auto 45px auto;
  max-width: 89%;
 }

.section-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 25px 0;
  padding: 10px 0;
}

.section-area h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid blue;
  font-size: 48px;
  line-height: 1.1;
}

.section-area > div {
  flex: 0 0 77%;
}

.section-area p {
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-items {
  border-right: solid blue 4px;
  min-height: 150px;
  max-height: 150px;
  font-size: 0.9rem;
  background-color: whitesmoke;
  flex-basis: calc(50% - 1em);
  align-items: flex-end;
  display: flex;
  padding: 0 0 20px 0;
  margin: 0.5em;
  color: blue;
  background-size: 150%;
}

.box-items:first-child  {
  min-height: 400px;
  flex-basis: 100%;
}

.box-items:hover {
  background-color: teal;
}
.box-items div {
  background-color: azure;
  padding: 8px 10px;
}

.box-items h3 {
  font-size: 1.6rem;
}


.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact address a {
  display: inline-block;
  /* padding etc */
}

.contact address a:hover {
  background-size: 100% 100%;
  color: blue;
}

/* load images */
.project1 {
  background-image: url("../images/Surf.jpg");
}

/* projects .. */

/* Create two unequal columns that floats next to each other
.column {
 float: left;
 padding: 10px;
}
*/

/* style for Contact Me quasi footer */
#contact {
  box-sizing: border-box;
  height: 120px;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
}

#contact h2 {
  box-sizing: border-box;
  height: 120px;
  width: 25%;
  float: right;
  border-right: solid blue 4px;
  font-size: 48px;
  text-align: center;
  display: flex;
  display: inline-flex;
  padding: 15px, 5px, 10px, 30px;
  color: blue; 
}

#contact nav {
  box-sizing: border-box;
  height: 120px;
  float: right;
  width: 75%;
  border: 5px solid yellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px, 15px, 10px, 20px;
  
}

#contact div nav a {
  display:inline-flex;
  text-align: center;
  font-size: 24px;
  font-style: bold;
  text-decoration-line: underline;
  text-decoration-color: blue;

}

#contact div nav a:hover {
 text-shadow: none;
 font-style: italic;
}

/* comment all */
/* media queries to copy */
/* boxes show unequal columns for About Me and Work sections */
/*  .column
   float: left;
  padding: 25px, 35px, 25px, 50px;

.left {
 width: 25%;
 border-right-color: blue;
 padding: 25px, 10px, 25px, 40px;
}

.right {
 width: 75%;
 padding: 25px, 35px, 25px, 15px;
}
*/